In [76]:
import pandas as pd;
import sqlite3 as sql;
import os
conn = sql.connect("database.db")
cursor = conn.cursor()

#This for-loop goes through all the csv files to create a dataframe for each file and adds them to the sqlite database
for file_name in os.listdir('./Data/'):
    if file_name.endswith('.csv'):
        df = pd.read_csv('Data/'+file_name)
        df.to_sql(file_name[:-4], conn, if_exists='replace')

# print('Department ID Uniqueness')
# query1 = 'SELECT  * from Department_Information Where Department_ID IN (SELECT Department_ID FROM Department_Information GROUP BY Department_ID HAVING COUNT(*) > 1)'
# results = pd.read_sql_query(query1, conn)
# print(results)

# print('Department Name')
# query1 = 'SELECT  * from Department_Information Where Department_Name IN (SELECT Department_Name FROM Department_Information GROUP BY Department_Name HAVING COUNT(*) > 1)'
# results = pd.read_sql_query(query1, conn)
# print(results)

# print('Department DOE Validation')
# query1 = "SELECT * FROM Department_Information Where CAST(SUBSTR(DOE, -4) AS INTEGER) < 1900"
# results = pd.read_sql_query(query1, conn)
# print(results)
        
# print('Department Missing Values')
# query1 = "SELECT * FROM Department_Information WHERE DOE Is Null OR Department_ID Is Null OR Department_Name Is Null"
# results = pd.read_sql_query(query1, conn)
# print(results)
        
# print('Student Counceling Information Department Admission Missing Values')
# query1 = "SELECT * FROM Student_Counceling_Information WHERE Department_Admission IS NULL"
# results = pd.read_sql_query(query1, conn)
# print(results)
        
# print('Student Counceling Information Department Admission Does Not Exist')
# query1 = "SELECT Department_Admission FROM Student_Counceling_Information"
# results = pd.read_sql_query(query1, conn)
# print(results)
        
#print("marks")
# query1 = 'SELECT  * from Student_Performance_Data Where Marks >= 0 AND Marks <= 100 AND Marks Is Not Null'
# results = pd.read_sql_query(query1, conn)
# print(results)


# print("hours")
# query2 = "SELECT  * from Student_Performance_Data Where Effort_Hours >=0 AND Effort_Hours IS NOT NULL AND CEILING(Effort_Hours) = FLOOR(Effort_Hours)"
# results = pd.read_sql_query(query2, conn)
# print(results)
        
# print("Not null")
# query3 = "SELECT * from Student_Performance_Data Where Student_ID IS NOT NULL AND Semster_Name IS NOT NULL AND Paper_ID IS NOT NULL AND Paper_Name IS NOT NULL AND Marks IS NOT NULL"
# results = pd.read_sql_query(query3, conn)
# print(results)

print("Student and Paper")
query = "SELECT * from Student_Performance_Data Where Paper_ID IN (SELECT Paper_ID FROM Department_Information GROUP BY Paper_ID HAVING COUNT(*) > 1"
results = pd.read_sql_query(query, conn)
print(results)
        
        
# print("Data cleaning query")
# query4 = "SELECT * from Student_Performance_Data Where Student_ID IS NOT NULL AND Semster_Name IS NOT NULL AND Paper_ID IS NOT NULL AND Paper_Name IS NOT NULL AND  Marks >= 0 AND Marks <= 100 AND Marks Is Not Null AND Effort_Hours >=0 AND Effort_Hours IS NOT NULL AND CEILING(Effort_Hours) = FLOOR(Effort_Hours) AND Student_ID IS NOT NULL AND Semster_Name IS NOT NULL AND Paper_ID IS NOT NULL AND Paper_Name IS NOT NULL"
# results = pd.read_sql_query(query4, conn)
# #print(results)
# print(results.to_string(index=False))
# file_name = "cleanData.csv"
# results.to_csv(file_name, encoding='utf-8', index=False)

Student and Paper
         Student_ID Paper_Name     Paper_ID
0       SID20131143    Paper 1  SEMI0012995
1       SID20131143    Paper 2  SEMI0015183
2       SID20131143    Paper 3  SEMI0018371
3       SID20131143    Paper 4  SEMI0015910
4       SID20131143    Paper 5  SEMI0016208
...             ...        ...          ...
209604  SID20189989    Paper 3  SEMI0082598
209605  SID20189989    Paper 4  SEMI0088030
209606  SID20189989    Paper 5  SEMI0081794
209607  SID20189989    Paper 6  SEMI0086600
209608  SID20189989    Paper 6  SEMI0083259

[209609 rows x 3 columns]