In [49]:
import pandas as pd;
import sqlite3 as sql;
import os
conn = sql.connect("database.db")
cursor = conn.cursor()

#This for-loop goes through all the csv files to create a dataframe for each file and adds them to the sqlite database
for file_name in os.listdir('./Data/'):
    if file_name.endswith('.csv'):
        df = pd.read_csv('Data/'+file_name)
        df.to_sql(file_name[:-4], conn, if_exists='replace')


#print("marks")
# SELECT  * from Student_Performance_Data Where Marks >= 100 OR Marks <= 0 AND Marks Is Not Null
# SELECT  * from Student_Performance_Data 
# query1 = 'SELECT  * from Student_Performance_Data Where Marks >= 0 AND Marks <= 100 AND Marks Is Not Null'
# results = pd.read_sql_query(query1, conn)
# print(results)


#SELECT  * from Student_Performance_Data Where Effort_Hours >=0 AND Effort_Hours IS NOT NULL AND TRUNC(Effort_Hours)
#query2 = "SELECT  * from Student_Performance_Data Where Effort_Hours >=0 AND Effort_Hours IS NOT NULL AND CEILING(Effort_Hours) = FLOOR(Effort_Hours)"

# print("hours")
# query2 = "SELECT  * from Student_Performance_Data Where Effort_Hours >=0 AND Effort_Hours IS NOT NULL AND CEILING(Effort_Hours) = FLOOR(Effort_Hours)"
# results = pd.read_sql_query(query2, conn)
# print(results)

# print("Not null")
# #query3 = 'SELECT employee.EMPLOYEE_NAME FROM employee JOIN supervise ON employee.EMPLOYEE_NAME = supervise.SUBORDINATE WHERE supervise.SUPERVISOR IS NULL;'
# query3 = "SELECT * from Student_Performance_Data Where Student_ID IS NOT NULL AND Semster_Name IS NOT NULL AND Paper_ID IS NOT NULL AND Paper_Name IS NOT NULL"
# results = pd.read_sql_query(query3, conn)
# print(results)
        
print("Data cleaning query")
#query3 = 'SELECT employee.EMPLOYEE_NAME FROM employee JOIN supervise ON employee.EMPLOYEE_NAME = supervise.SUBORDINATE WHERE supervise.SUPERVISOR IS NULL;'
query4 = "SELECT * from Student_Performance_Data Where Student_ID IS NOT NULL AND Semster_Name IS NOT NULL AND Paper_ID IS NOT NULL AND Paper_Name IS NOT NULL AND  Marks >= 0 AND Marks <= 100 AND Marks Is Not Null AND Effort_Hours >=0 AND Effort_Hours IS NOT NULL AND CEILING(Effort_Hours) = FLOOR(Effort_Hours) AND Student_ID IS NOT NULL AND Semster_Name IS NOT NULL AND Paper_ID IS NOT NULL AND Paper_Name IS NOT NULL"
results = pd.read_sql_query(query4, conn)
#print(results)
print(results.to_string(index=False))
file_name = "cleanData.csv"
results.to_csv(file_name, encoding='utf-8', index=False)

Data cleaning query
         index   Student_ID Semster_Name     Paper_ID Paper_Name  Marks  \
0            0  SID20131143        Sem_1  SEMI0012995    Paper 1   44.0
1            1  SID20131143        Sem_1  SEMI0015183    Paper 2   74.0
2            2  SID20131143        Sem_1  SEMI0018371    Paper 3   80.0
3            3  SID20131143        Sem_1  SEMI0015910    Paper 4   44.0
4            4  SID20131143        Sem_1  SEMI0016208    Paper 5   95.0
...        ...          ...          ...          ...        ...    ...
209596  209605  SID20189989        Sem_8  SEMI0082598    Paper 3   94.0
209597  209606  SID20189989        Sem_8  SEMI0088030    Paper 4   49.0
209598  209607  SID20189989        Sem_8  SEMI0081794    Paper 5   47.0
209599  209608  SID20189989        Sem_8  SEMI0086600    Paper 6   87.0
209600  209609  SID20189989        Sem_8  SEMI0083259    Paper 6   73.0

        Effort_Hours
0                5.0
1                8.0
2                8.0
3                5.0
4               12.0
...              ...
209596          12.0
209597           5.0
209598         257.0
209599          11.0
209600           8.0

[209601 rows x 7 columns]